html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  color: white;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.results-visor {
  text-align: right;
  font-size: 30px;
  background-color: gray;
  height: 40px;
  width: 50%;
}

.key-pad {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(51, 51, 51);
  width: 50%;
  align-items: center;
  padding: 13px 0px;
  border-radius: 15px;
}

.button-row {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

button {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 18px;
  border: none;
  background-color: rgb(27, 27, 27);
  color: white;
  font-weight: bold;
}

.clear-button {
  background-color: gray;
}

.one-digit-clear-button {
  background-color: gray;
}

.blank-upper-button {
  background-color: gray;
}

.division-button {
  background-color: orange;
}

.multiply-button {
  background-color: orange;
}

.sum-button {
  background-color: orange;
}

.subtract-button {
  background-color: orange;
}

.equals-button {
  background-color: orange;
}
