.key-pad {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(51, 51, 51);
    width: 50%;
    margin: auto;
    align-items: center;
}

.button-row {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}